version: "3.9"
services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - MONGODB_CONNECTION_STRING=mongodb+srv://karimzeed3:bSZtiV3tr979W86t@test.fjvjkhg.mongodb.net/test?retryWrites=true&w=majority
    networks:
      - app-network
  staging:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - MONGODB_CONNECTION_STRING=mongodb+srv://karimzeed3:bSZtiV3tr979W86t@staging.fjvjkhg.mongodb.net/staging?retryWrites=true&w=majority
    networks:
      - app-network
  mongo-dev:
    image: mongo
    networks:
      - app-network
  mongo-staging:
    image: mongo
    networks:
      - app-network
networks:
  app-network:
